{% extends 'AboutUs/base.html' %}

{% block content %}

<hr>
<center><h1 class="intro-text text-center">About Us</h1></center>
<hr>
  <p style="margin-bottom: 20px;">Nous sommes un groupe de six étudiants de CentraleSupélec, n'hésitez pas à contacter Laure, Charlotte, Nicolas, Théophile, Martin ou Sauveur via leurs adresses mail CentraleSupélec. </p>
  <form class="form-inli©ne" action="/" method="post">

  {% load static %} 
<<<<<<< HEAD
  <center><img width="500x"  src="{% static 'aboutus/img/photo_groupe.jpeg' %}" alt="Image" /></a></center>
=======
  <center><img width="880x" height="650"  src="{% static 'aboutus/img/photo_groupe.jpeg' %}" alt="Image" /></a></center>
>>>>>>> 15cedbd51cc5b824f6ae432aa535a2135c25ff5e
 

    <!-- <input type="hidden" class="hidden" value="" name="product_id"> -->

  
  </form>

</div>


{% endblock %}

