<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'jepropose/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jepropose/css/business-casual.css' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="brand"><a href="/">TRO-CS</a></div>
    <div class="address-bar">CentraleSupélec campus de Gif</div>

    <div class="container">
      <div class="row">
        <div class="box">
                {% block content %}{% endblock %}
            </div>
          </div>
        </div>
    
        <!-- jQuery -->
        <script src="{% static 'jepropose/static/js/jquery.js' %}"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'jepropose/static/js/bootstrap.min.js' %}"></script>
    
      </body>
    </html>