{% extends 'jepropose/base.html' %}

{% block content %}

<hr>
<center><h1 class="intro-text text-center">Que proposez-vous?</h1></center>
<hr>
  <h2 class="text-center">Produit à proposer:</h2>
  <p style="margin-bottom: 20px;">Renseignez les cases suivantes pour proposer un produit! </p>
  <form class="form-inline" action="{% url 'jepropose:page_jepropose' %}" method="post">
      {% csrf_token %}

    <div class="form-group">
      <label for="name" class="control-label">Nom</label>
      <input type="text" name="name" value="" id="name">
    </div>
    <div class="form-group">
      <label for="mail" class="control-label">E-mail</label>
      <input type="text" name="mail" value="" id="mail">
    </div>
    <div class="form-group">
        <label for="nature" class="control-label">Nature du produit</label>
        <input type="text" name="nature" value="" id="nature">
      </div>

    <!-- <input type="hidden" class="hidden" value="" name="product_id"> -->

    <button type="submit" class="btn btn-success">Envoyer</button>
  </form>

</div>


{% endblock %}