{% extends 'jepropose/base.html' %}

{% block content %}

    <hr>
    <center><h1 class="intro-text text-center"> Merci !</h1></center>
    <hr>
    <center><p>Vous venez de proposer le produit : <b>{{product_name}} </b> à l'échange.</p></center>
    <hr>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ULKL09NAih8" frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}
