{% extends 'jerecherche/base.html' %}

{% block content %}
<hr>
<center><h1 class="intro-text text-center">{{ product_name }}</h1></center>
<hr>
<div class="col-md-6">
  <img width="200px" src="{{ thumbnail }}" alt="{{ product_name }}" class="img-responsive" align=middle >
</div>
<div class="col-md-6">
  <div style="margin-bottom:45px; margin-left: 80px">
    <h2 class="text-center students_name">Etudiant proposant ce produit</h2>
    {% for student in students_name %}
      <li>{{student}}</li>
    {% endfor %}
  </div>

  <h2 class="text-center students_name" style="margin-left: 80px;"> Réserver le produit : {{ product_name }}</h2>
  <p style="margin-bottom: 30px; margin-left: 80px; ">Demandez-nous de mettre de côté le produit <strong>{{ product_name }}</strong> puis venez le chercher dès que possible chez l'étudiant ! </p>
  <form class="form-inline" action="{% url 'jerecherche:description_jerecherche' product_id=product_id %}" method="post">
      {% csrf_token %}

    <div class="form-group {% if form.name.errors %}has-warning has-feedback{% endif %}" style="margin-left: 80px;">
      <label for="name" class="control-label">Nom</label>
      <input type="text" name="name" value="" id="name">

    </div>
    <div class="form-group {% if form.email.errors %}has-warning has-feedback{% endif %}" style="margin-left: 80px;">
      <label for="mail" class="control-label">E-mail</label>
      <input type="text" name="mail" value="" id="mail">

    </div>

    <!-- <input type="hidden" class="hidden" value="" name="product_id"> -->

    <button type="submit" class="btn btn-success" style="margin-left: 90px;">Réserver</button>
    
    {% if errors %}
  <div>
    {% for key, error in errors %}
    {% autoescape off %}
      {{ error }}
    {% endautoescape %}
    {% endfor %}
  </div>
  {% endif %}

</div>

{% endblock %}
