<!DOCTYPE html>

<html>
<head>
	{% load static %}
	<meta charset="UTF-8" />
	<title>TRO-CS</title>
	<link rel="stylesheet" href="{% static 'jerecherche/css/style.css' %} " type="text/css">
</head>
<body>
	{% load static %}
	<div id="header">
		<div>
			<div id="logo">
				<a href="index.html">
			</div>
			<div id="navigation">
				<div>
					<ul>
						<li class="current"><a href="http://127.0.0.1:8000/">   Home   </a></li>
						<li><a href="http://127.0.0.1:8000/AboutUs/">   About Us   </a></li>
						<li><a href="http://127.0.0.1:8000/jerecherche/">   Je recherche   </a></li>
						<li><a href="http://127.0.0.1:8000/jepropose/">   Je propose   </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="section">
			<div>
				<br><h1>TRO-CS friendly !</h1>
				<br><p> <b>Principe du site </b> : six étudiants de CentraleSupélec ont créé pour toi un site de troc. Que tu cherches un balai un lendemain de soirée difficile ou que tu souhaites simplement te débarasser d'un meuble encombrant, ce site est fait pour toi !  </p>
				<span>
					<br><a class="first" href="http://127.0.0.1:8000/jerecherche/">Réserve un objet</a>
					<a href="http://127.0.0.1:8000/jepropose/"> Propose un objet <!DOCTYPE html>
					<html lang="en">
					<head>
						<meta charset="UTF-8">
						<meta name="viewport" content="width=device-width, initial-scale=1.0">
						<meta http-equiv="X-UA-Compatible" content="ie=edge">
						<title>Document</title>
					</head>
					<body>
						
					</body>
					</html><!DOCTYPE html>
					<html lang="en">
					<head>
						<meta charset="UTF-8">
						<meta name="viewport" content="width=device-width, initial-scale=1.0">
						<meta http-equiv="X-UA-Compatible" content="ie=edge">
						<title>Document</title>
					</head>
					<body>
						
					</body>
					</html></a>
				</span>
			</div>
			<div id="figure">
				<iframe src="https://www.youtube.com/embed/ULKL09NAih8" width="650" height="300"></iframe>
				<span></span>
			</div>
			<span class="background"></span>
		</div>
		<div id="featured">
			<ul>
				<li class="first">
					<a href="http://127.0.0.1:8000/jerecherche/"><img width="280x" height="150"  src="{% static 'jerecherche/images/troc-cuturel-télérama.jpg' %}" alt="Image" /></a>
					<span></span>
					<p align="justify">Tu recherches un appareil à raclette pour tes soirées hivernales, une raquette de tennis pour jouer avec un pote ? Check vite les propositions !</p>
					<a class="link" href="http://127.0.0.1:8000/jerecherche/">Je recherche</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/jepropose/">
					<span></span><img width="280x" height="150" src="{% static 'jerecherche/images/17cb14caa658314182e65f8d6c91bda1.jpg' %}" alt="Image" /></a>
					<p align="justify">Tes placards sont bourrés à craquer, tu aimerais que d’autres puissent profiter d’objets que tu n’utilises que rarement, propose ici tes objets !</p>
					<a class="link" href="http://127.0.0.1:8000/jepropose/">Je propose</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/AboutUs/"><img width="280x" height="150" src="{% static 'jerecherche/images/logo.jpg' %}" alt="Image" /></a>
					<span></span>
					<p style="padding-bottom: 45px" align="justify">Apprends-en plus sur nous ici</p>                                                                                                                   </p>
					<a class="link" href="http://127.0.0.1:8000/AboutUs/">About Us</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class="first">
						<div>
					<p>Telephone. : <span>0666666666</span></p>
					<p>Email : <span>prenom.nom@student-cs.fr</span></p>
				</div>
			</div>
			<div>
				<h3>Get Social with us!</h3>
				<p>Check our pages</p>
				<div>
					<a href="https://www.facebook.com/centralesupelec/" class="facebook" target="_blank"></a>
					<a href="http://twitter.com/centralesupelec" class="twitter" target="_blank"></a>

				</div>
			</div>
			<div>
				<h3>Share your thoughts!</h3>
				<form action="#">
					<label for="subscribe"><input type="text" id="subscribe" maxlength="30" value="email address" /></label>
					<input class="submit" type="submit" value="" />
				</form>
				<p>Copyright &copy; 2018 TRO-CS Incorporated <br /> All rights reserved</p>
			</div>
		</div>
	</div>
</body>
</html> 
