<div class="col-lg-12">
    <hr>
    <center><h2 class="intro-text text-center">{{ list_title }}
    </h2></center>
    <hr>
</div>
<br>

<center>{% include 'jerecherche/search_form.html' %}</center>
<br>
<br>

{% if products|length_is:"0" %}
    <div class="text-center">
    <br>
    <br>
      Nous n'avons trouvé aucun résultat à cette requête. 
      Cherchez un autre produit !
    </div>

{% else %}
    {% for product in products %}
        <div class="col-sm-4 text-center">
            <a href="{% url 'jerecherche:description_jerecherche' product_id=product.id %}">
              <img class="img-responsive" width="100px" src="{{ product.picture }}" alt="{{ product.name }}">
            </a>
            <h3><a href="{% url 'jerecherche:description_jerecherche' product_id=product.id %}">{{ product.name }}</a></h3>
        </div>
        {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
    {% endfor %}

{% endif %}