{% extends 'jerecherche/base.html' %}

{% block content %}

    <hr>
    <center><h1 class="intro-text text-center"> Merci !</h1></center>
    <hr>
    <center><p>Le produit <b>{{ product_name }}</b> vient d'être réservé.</p></center>
    <hr>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ULKL09NAih8" frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}