<div class="col-lg-12 detail-separator">
          <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'jerecherche:search_jerecherche' %}" method="get" accept-charset="utf-8">
          <div class="form-group">
            <b><label for="searchForm">Trouvez votre produit</label></b>
            <br /><input id="searchForm" class="form-control" name="query">
          </div>
          <style type='text/css'>
          .form-control { 
            width: 60%; 
            } 
          </style>
          <span class="help-block" id="helpBlock">Taper le type de produit recherché. </span>
        </form>
      </div>
